<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Reservation System</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Airline Reservation System</h1>
    <ul>
        <li><a href="/book">Book a Ticket</a></li>
        <li><a href="/cancel">Cancel a Ticket</a></li>
        <li><a href="/details">Flight Details</a></li>

    </ul>

</body>
</html>